.loader-spinner {
  width: 64px;
  height: 64px;
  display: inline-block;
  position: relative;
}

.loader-spinner::after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #6366f1; /* Indigo-500 */
  border-color: #6366f1 transparent #6366f1 transparent;
  animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
